.btn.standard {
  height: 35px;
  display: flex;
  margin-left: 13px;
  margin-right: 5px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  min-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
  border: 2px;
  border-sizing: border-box;
  border-radius: 5px;

  &.signup
    { background-color: $orange;
    &:hover {
    background: #F7A652;
      }
    }

  &.logout
  { background-color: $light-purple;
    &:hover {
    background: #957D9E;
      }
    }

  &.login { background-color: $light-purple;
    &:hover {
    background: #957D9E;
      }
    }

  &.new-actor { background-color: $blue;
    &:hover {
    background: #71C8E8;
      }
    }



    &.show {
    background-color: $yellow;
    width: 200px;
    margin-bottom: 30px;
    &:hover {
    background: #FFD027;
     }
    }

  &.listings {
    background-color: $orange;
    &:hover {
    background: #F7A652;
      }
    }

   &.dashboard {
    background-color: $green;
    &:hover {
    background: #62DEB4;

      }
    }
}



.form-actions {
 display: flex;
  justify-content: center;
}

input.btn {
  display: flex;
  justify-content: center;
  background-color: $light-purple;
  display: flex;
  margin: 10px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  min-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
  border: 2px;
  border-sizing: border-box;
  border-radius: 100px;
  background-color: $light-purple;


  &:hover {
    background: #957D9E;
    color: white;
    }

}

