* {
  text-decoration: none !important;
}

.card {
  border-radius: 15px;
  color: black;
  padding: 10px;
  margin: 10px 10px;
  height: 400px;
}


.card-image {
  min-height: 200px;
  max-height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px 12px 0 0;
}
