* {
  text-decoration: none !important;
}

.container {

}

.card {
  display:flex;
  justify-content: center;
  text-align: left;
  border-radius: 12px;
  color: black;
}


.card-image {
  min-height: 140px;
  max-height: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 12px 12px 0 0;
}

.list {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 12px;
}

// .cards {
//   display:grid
//   grid-template: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }
