.navbar-lewagon {
  justify-content: space-between;
  background: #452B4F;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar {
  height: 60px;
}

.navbar-inner {
    background:transparent;
}
